spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  session:
    store-type: none

  management:
    endpoints:
      web:
        exposure:
          include: mappings, beans, env, health
    endpoint:
      mappings:
        enabled: true
server:
  port: ${SERVER_PORT}